modules = ["lua", "python-3.11", "lua-5.1"]

[nix]
channel = "stable-24_05"
packages = ["unzip", "imagemagick", "unrar"]

[workflows]

[deployment]
run = ["sh", "-c", "luac -p core/*.lua modules/*/*.lua && echo \"Lua syntax validation passed!\""]
