<Ui xmlns="http://www.blizzard.com/wow/ui/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.blizzard.com/wow/ui/ ..\FrameXML\UI.xsd">
    <!-- Settings panel template for VUIGfinder -->
    
    <Script file="Settings.lua"/>
    
    <!-- Main settings panel -->
    <Frame name="VUIGfinderSettingsPanel" inherits="BackdropTemplate" hidden="true">
        <Size x="600" y="500"/>
        <Backdrop bgFile="Interface\DialogFrame\UI-DialogBox-Background" edgeFile="Interface\DialogFrame\UI-DialogBox-Border" tile="true">
            <BackgroundInsets>
                <AbsInset left="11" right="12" top="12" bottom="11"/>
            </BackgroundInsets>
            <TileSize>
                <AbsValue val="32"/>
            </TileSize>
            <EdgeSize>
                <AbsValue val="32"/>
            </EdgeSize>
        </Backdrop>
        <Layers>
            <Layer level="ARTWORK">
                <FontString name="$parentTitle" inherits="GameFontNormalLarge" text="VUI Gfinder Settings">
                    <Anchors>
                        <Anchor point="TOPLEFT" x="20" y="-20"/>
                    </Anchors>
                </FontString>
                <FontString name="$parentSubtitle" inherits="GameFontHighlight" text="Configure group finder enhancements">
                    <Anchors>
                        <Anchor point="TOPLEFT" relativeTo="$parentTitle" relativePoint="BOTTOMLEFT" x="0" y="-10"/>
                    </Anchors>
                </FontString>
            </Layer>
        </Layers>
        <Frames>
            <!-- General Settings Section -->
            <Frame name="$parentGeneralSettings" inherits="BackdropTemplate">
                <Size x="560" y="120"/>
                <Anchors>
                    <Anchor point="TOP" x="0" y="-80"/>
                </Anchors>
                <Backdrop bgFile="Interface\DialogFrame\UI-DialogBox-Background" edgeFile="Interface\Tooltips\UI-Tooltip-Border" tile="true">
                    <BackgroundInsets>
                        <AbsInset left="5" right="5" top="5" bottom="5"/>
                    </BackgroundInsets>
                    <EdgeSize>
                        <AbsValue val="16"/>
                    </EdgeSize>
                </Backdrop>
                <Layers>
                    <Layer level="ARTWORK">
                        <FontString name="$parentTitle" inherits="GameFontNormal" text="General Settings">
                            <Anchors>
                                <Anchor point="TOPLEFT" x="15" y="-15"/>
                            </Anchors>
                        </FontString>
                    </Layer>
                </Layers>
                <Frames>
                    <CheckButton name="$parentEnable" inherits="UICheckButtonTemplate">
                        <Anchors>
                            <Anchor point="TOPLEFT" x="20" y="-40"/>
                        </Anchors>
                        <Scripts>
                            <OnClick>
                                VUIGfinder.Settings:ToggleEnabled(self:GetChecked());
                            </OnClick>
                            <OnShow>
                                self:SetChecked(VUIGfinder.db.profile.enabled);
                            </OnShow>
                        </Scripts>
                    </CheckButton>
                    <Slider name="$parentDialogScale" inherits="OptionsSliderTemplate" minValue="0.5" maxValue="2.0" valueStep="0.1" defaultValue="1.0">
                        <Size x="240" y="16"/>
                        <Anchors>
                            <Anchor point="TOPLEFT" relativeTo="$parentEnable" relativePoint="BOTTOMLEFT" x="10" y="-25"/>
                        </Anchors>
                        <Scripts>
                            <OnLoad>
                                self.Low:SetText("0.5");
                                self.High:SetText("2.0");
                                self.Text:SetText("Dialog Scale");
                            </OnLoad>
                            <OnValueChanged>
                                VUIGfinder.Settings:SetDialogScale(value);
                            </OnValueChanged>
                            <OnShow>
                                self:SetValue(VUIGfinder.db.profile.dialogScale);
                            </OnShow>
                        </Scripts>
                    </Slider>
                </Frames>
            </Frame>
            
            <!-- Feature Settings Section -->
            <Frame name="$parentFeatureSettings" inherits="BackdropTemplate">
                <Size x="560" y="200"/>
                <Anchors>
                    <Anchor point="TOP" relativeTo="$parentGeneralSettings" relativePoint="BOTTOM" x="0" y="-20"/>
                </Anchors>
                <Backdrop bgFile="Interface\DialogFrame\UI-DialogBox-Background" edgeFile="Interface\Tooltips\UI-Tooltip-Border" tile="true">
                    <BackgroundInsets>
                        <AbsInset left="5" right="5" top="5" bottom="5"/>
                    </BackgroundInsets>
                    <EdgeSize>
                        <AbsValue val="16"/>
                    </EdgeSize>
                </Backdrop>
                <Layers>
                    <Layer level="ARTWORK">
                        <FontString name="$parentTitle" inherits="GameFontNormal" text="Feature Settings">
                            <Anchors>
                                <Anchor point="TOPLEFT" x="15" y="-15"/>
                            </Anchors>
                        </FontString>
                    </Layer>
                </Layers>
                <Frames>
                    <CheckButton name="$parentEnhancedTooltips" inherits="UICheckButtonTemplate">
                        <Anchors>
                            <Anchor point="TOPLEFT" x="20" y="-40"/>
                        </Anchors>
                        <Scripts>
                            <OnClick>
                                VUIGfinder.Settings:ToggleEnhancedTooltips(self:GetChecked());
                            </OnClick>
                            <OnShow>
                                self:SetChecked(VUIGfinder.db.profile.enhancedTooltips);
                            </OnShow>
                        </Scripts>
                    </CheckButton>
                    <CheckButton name="$parentOneClickSignUp" inherits="UICheckButtonTemplate">
                        <Anchors>
                            <Anchor point="TOPLEFT" relativeTo="$parentEnhancedTooltips" relativePoint="BOTTOMLEFT" x="0" y="-10"/>
                        </Anchors>
                        <Scripts>
                            <OnClick>
                                VUIGfinder.Settings:ToggleOneClickSignUp(self:GetChecked());
                            </OnClick>
                            <OnShow>
                                self:SetChecked(VUIGfinder.db.profile.oneClickSignUp);
                            </OnShow>
                        </Scripts>
                    </CheckButton>
                    <CheckButton name="$parentRememberSignUpNotes" inherits="UICheckButtonTemplate">
                        <Anchors>
                            <Anchor point="TOPLEFT" relativeTo="$parentOneClickSignUp" relativePoint="BOTTOMLEFT" x="0" y="-10"/>
                        </Anchors>
                        <Scripts>
                            <OnClick>
                                VUIGfinder.Settings:ToggleRememberSignUpNotes(self:GetChecked());
                            </OnClick>
                            <OnShow>
                                self:SetChecked(VUIGfinder.db.profile.rememberSignUpNotes);
                            </OnShow>
                        </Scripts>
                    </CheckButton>
                    <CheckButton name="$parentSignUpOnEnter" inherits="UICheckButtonTemplate">
                        <Anchors>
                            <Anchor point="TOPLEFT" relativeTo="$parentRememberSignUpNotes" relativePoint="BOTTOMLEFT" x="0" y="-10"/>
                        </Anchors>
                        <Scripts>
                            <OnClick>
                                VUIGfinder.Settings:ToggleSignUpOnEnter(self:GetChecked());
                            </OnClick>
                            <OnShow>
                                self:SetChecked(VUIGfinder.db.profile.signUpOnEnter);
                            </OnShow>
                        </Scripts>
                    </CheckButton>
                    <CheckButton name="$parentShowFilterButton" inherits="UICheckButtonTemplate">
                        <Anchors>
                            <Anchor point="TOPLEFT" relativeTo="$parentSignUpOnEnter" relativePoint="BOTTOMLEFT" x="0" y="-10"/>
                        </Anchors>
                        <Scripts>
                            <OnClick>
                                VUIGfinder.Settings:ToggleShowFilterButton(self:GetChecked());
                            </OnClick>
                            <OnShow>
                                self:SetChecked(VUIGfinder.db.profile.showFilterButton);
                            </OnShow>
                        </Scripts>
                    </CheckButton>
                </Frames>
            </Frame>
        </Frames>
    </Frame>
</Ui>